In [1]:
import pandas as pd
import numpy as py
import re
import operator

In [2]:
colnames = ['No', 'ObservationDate', 'State', 'Country', 'Update', 'Confirmed', 'Deaths', 'Recovered'] ##inisialisasi nama kolom
fullCorona = pd.read_csv("covid_19_data.csv", names=colnames)

In [3]:
fullCorona.head()

,No,ObservationDate,State,Country,Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [4]:
fullCorona.shape

(2699, 8)

In [5]:
##sekarang print bagian negara
colnames = ['No', 'ObservationDate', 'State', 'Country', 'Update', 'Confirmed', 'Deaths', 'Recovered'] ##inisialisasi nama kolom
covid = pd.read_csv('covid_19_data.csv', names=colnames)
covid = covid.sort_values(by=['Country'])
covid.head()

,No,ObservationDate,State,Country,Update,Confirmed,Deaths,Recovered
2663,2664,02/28/2020,NaN,Azerbaijan,2020-02-28T15:03:26,1.0,0.0,0.0
2351,2352,02/25/2020,NaN,Afghanistan,2020-02-24T23:33:02,1.0,0.0,0.0
2452,2453,02/26/2020,NaN,Afghanistan,2020-02-24T23:33:02,1.0,0.0,0.0
2556,2557,02/27/2020,NaN,Afghanistan,2020-02-24T23:33:02,1.0,0.0,0.0
2258,2259,02/24/2020,NaN,Afghanistan,2020-02-24T23:33:02,1.0,0.0,0.0

In [7]:
negara = covid.Country.tolist() #simpan kolom Country ke lisst
terjangkit = covid.Confirmed.tolist() #simpan kolom Confirmed ke lisst


output = open("covid2019", "w")
count = 0
value = 0.0


for i,j in zip(negara, terjangkit):
    if count<len(negara)-1 and i == negara[count+1]:
        value += float(j)
        count += 1
        continue
    value += float(j)
    output.write(i + " " + str(value) + "\n")
    
    
    value = 0
    count += 1

output.close()